.accordion-item {
    background-color: #175b1e0e;
}

.accordion-body{
    margin: 1em;
    padding: 0; 
    
}

.accordion-button{
    background-color: hsl(0, 0%, 93%) !important;
    border: none;
}

.accordion-button.collapsed{
    background-color: white !important;
    border: none;
}