.cuerpo {
    margin: 5rem 0;
    width: 100%;
    scroll-snap-align: center;
    container: inline-size;
    p {
        font-size: 4cqb;
        width: 80%;
    }
}
.img-wrap{
    container-type: inline-size;
    width: 100%;
    margin: 0;
}

.imagenes {
    margin: 0;
    padding: 0;
    width: 100%;
    img{
        width: 100%;
    }
}

@container (width >= 912px) {
    .imagenes{
        display: flex;
        max-height: fit-content;
        padding: 0 1rem;
        justify-content: center;
        img {
            padding: 0;
            margin: 0;
            height: 100%;

        }
    }
    
}
