.card {
    background-color: rgb(243, 243, 243);
    width: 90%;
    box-shadow: 0.5rem 0.5rem 1rem #00000038;
    text-align: center;
    margin: 5% 2rem;
    margin-bottom: 1rem;
    transition: 0.2s;
}

.card:hover {
   width: 100%;
}

.card-img-overlay{
    top: 3%;
    color: white;
    .underline {
        border-top: 1px solid white;
        width: 60%;
        margin: 0.5rem auto;
    }
}

.card-body{
    font-size: clamp(20px, 3vh, 40px)
}
