.hoteles {
   width: 100%;
}

.swiper {
    max-width: 675px;
    img {
        width: 100%;
        height: auto;
        object-fit: scale-down;
    }
    
}

@media screen and (min-width: 912px) {
    .hoteles {
        grid-column: 2 / 4;
    }
}