
.navbar {
    container: inline-size;
    height: 10vh;
    font-size: clamp(18px, 3cqi, 24px);
    background-color: hsl(0, 0%, 100%) !important;
    opacity: 0.9;
}

.nav,.offcanvas a{
    color: var(--verde-principal) !important;
    transition: 0.2s;
}
.navbar, .offcanvas a:hover{
    color: var(--verde-oscuro) !important;
}
.nav-item a:focus{
    color: var(--verde-oscuro) !important;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    img {
        height: 100%;
        width: clamp(80px, 5rem, 270px);
        margin-left: 3rem;
    }
}

@media screen and (min-width: 1720px) {
    .navbar {
        a {
            padding: 0 2rem !important;
        }
        .navbar-brand img {
            width: 6vw !important;
        }
    }
}