.Despliegue_Viajes {
    .destinos {
        display: flex;
        flex-flow: row wrap;
        place-items: center center;
        > * {
            max-width: 30vw;
            margin: auto;
        }
    }
}

@media screen and (min-width: 912px) {
    .extranjero {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}