.Despliegue_Viajes {
    .destinos {
        display: flex;
        flex-flow: row wrap;
        place-items: center center;
        > * {
            max-width: 80vw;
            margin: auto;
        }
    }
}