.Whatsapp {
    z-index: 99;
    text-align: center;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    width: 5rem;
    height: 4.8rem;
    border-radius: 100%;
    border: 0.4rem solid var(--verde-claro);
    padding: 0;
    i {
        margin: auto;
        padding: auto;
        width: 1em;
        font-size: 40px;
        color: var(--verde-claro)
    }
}