.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    max-width: fit-content;
}

#Formulario {
    h3 {
        align-self: flex-start;
        color:  var(--verde-principal);
        padding: 0.5rem 0;
        font-size: 3rem;
        font-weight: 500;
        span {
            font-weight: 900;
            color: var(--cafe);
        }
    }
    p {
        color: #00000080;
    }
}

form {
    margin: 2rem 0;
    .btn {
        width: 100%;
        margin: 1rem auto;
        padding: 0.5rem 1rem;
        color: white;
        font-weight: bolder;
        background-color: var(--verde-principal);
        border: none;
        border-radius: 1rem;
        box-shadow: 0 0 1.3rem 0.2rem #13b01b45;
        transition: 0.2s;
    }
    .btn:hover {
        background-color: var(--verde-claro);   
    }
}

.ayudas {
    display: flex;
    justify-content: space-between;
    a {
        color: #00000080;
        text-decoration: none;
        transition: 0.2s;
    }
    
}
.ayudas a:hover {
    text-decoration: underline;
}