body {
  --verde-oscuro: #04420A;
  --verde-principal: #175B1E;
  --verde-claro: #57AF1C;
  --cafe: #C38922;
  background-color: #175b1e0e;
}

.parrafo {
  font-size: clamp(18px, 1.2vw, 30px);
  letter-spacing: 0.03em;
  line-height: 1.5em;
  text-align: start;
  font-weight: 500;
}

.titulo {
  letter-spacing: -0.05rem;
  padding: 0 1rem;
  color: var(--verde-principal);
  font-weight: 700;
  font-size: clamp(40px, 5vw, 75px);
}